@{
    ViewData["Title"] = "Em Construção";
}
<div class="container p-5 m-5">

    <h1 class="text-white text-center">@ViewData["Title"]</h1>

    <p class="text-white text-center">A página  ainda encontra-se em construção!</p>
</div>
