@{
    ViewData["Title"] = "Escolha seu tipo de cadastro";
}

<div class="text-center my-5 py-5">
    <h2 class="text-white my-3">Como você deseja se cadastrar?</h2>
    
    <div class="mt-4 py-4 d-flex justify-content-center gap-3 flex-wrap">
        <a href="@Url.Action("Cadastro", "Ong")" class="btn btn-primary">
            <i class="fas fa-hand-holding-heart me-2"></i><br> Sou uma ONG
        </a>
        <a href="@Url.Action("Cadastro", "Voluntario")" class="btn btn-success">
            <i class="fas fa-user-plus me-2"></i><br> Sou voluntário
        </a>
    </div>
</div>
